" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
nnoremap <SPACE> <Nop>
let mapleader = "\<Space>"

vim.keymap.set("v", "K", ":m '<-2<CR>gv=gv")
vim.keymap.set("v", "J", ":m '>+1<CR>gv=gv")

vnoremap K :m '<-2<CR>gv=gv
vnoremap J :m '>+1<CR>gv=gv

set incsearch
set NERDTree
set relativenumber
set which-key

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
nnoremap <leader>e :NERDTreeFind<CR>
map <C-M-l> <Action>(NextTab)
map <C-M-h> <Action>(PreviousTab)
map <leader>pf <Action>(GotoFile)
map <leader>fs <Action>(FindInPath)
map <leader>vc :vs .ideavimrc<CR>
map <leader>h <Action>(QuickJavaDoc)
map <leader>i <Action>(ShowErrorDescription)
map <leader>ca <Action>(ShowIntentionActions)
map <C-n> <Action>(GoToTab1)
map <C-e> <Action>(GoToTab2)
map <C-i> <Action>(GoToTab3)
map <C-;> <Action>(GoToTab4)
map gi <Action>(GotoImplementation)
map <leader>b <Action>(ToggleLineBreakpoint)
map <C-/> <Action>(CommentByLineComment)

vnoremap <leader>y \"+y
xnoremap <leader>p \"_dP

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

keymap.set("n", "<leader>h", vim.lsp.buf.hover)
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
